<div *ngIf="isActive==='1'" style="margin-left: 50px;margin-top: 50px;">
  <h4>JIRA item reviewer</h4>
  <mat-form-field appearance="fill">
    <mat-select [(ngModel)]="binding">
      <mat-option *ngFor="let food of foods" [value]="food.value">
        {{food.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div *ngIf="isActive==='2'" style="margin-left: 50px;margin-top: 50px;">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>JIRA item ID</mat-label>
      <input matInput placeholder="JIRA item ID" [(ngModel)]="Sushi" name="Sushi">
    </mat-form-field>
  </form>
</div>
<button mat-raised-button color="primary"
  (click)="isActive==='1'?okBtn():updata()">{{isActive==='1'?'Confirm':'Random Assign'}}</button>
<button mat-raised-button color="primary" *ngIf="isActive==='2'" (click)="isActive='1'">Back off</button>
